input {
	padding: 5px 20px;
	width: 75%;
	line-height: 25px;
	margin: 10px 0;
	border: 0;
	border-radius: 8px;
}
#input-url {
	border: 3px solid #1d3c75;
	transition: background 0.5s ease, color 0.5s ease;
	&:focus {
		&::placeholder {
			color: #ffffff;
		}
		outline: 0;
		background: #3465bf;
		color: #fff;
	}
}
#submit-btn {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: bold;
	background: #1d3c75;
	color: #ffffff;
	cursor: pointer;
	transition: background 0.5s ease;
	&:hover {
		background: #3465bf;
	}
}
